# todo: Move ssh restart to handler once sshd_config testing is reliable

- name: Reload Alloy daemon
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart Alloy
  ansible.builtin.systemd:
    name: alloy
    state: restarted
